body{
    text-align: center;
    margin: 0;
}
header{
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
}

h1 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}

nav{
    background-color: #00a6b3;
    padding: 20px 0;
}

.topLink{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    margin: 0px 20px;
}

main{
    width: 800px;
    margin: 35px auto;
}

p {
    font-family: "Droid Serif", sans-serif;
    font-size: 18px;
    line-height: 18px;
    
}

h2 {
    color: #0d2c40;
    font-weight: 600px;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

img{
    margin: 40px 8px 0 8px;
}

.social{
    list-style: none;
    text-decoration: none;
    color: #e68989;
}
li{
    display: inline;
    padding: 10px;
}

.copyright {
 float: left;
}

.message {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }

footer {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding: 0px 20px;
    background-color: #0d2c40;
    color: #ffffff;
    letter-spacing: .08em;
    font-weight: 500px;
}

.name {
    color: #f15b31;
    font-weight: 700;
}

a:hover {
    border-bottom: 2px solid transparent;
    border-color: #ffffff;
    background-color: #f15b31;
}
